body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family:'Times New Roman', Times, serif;
 
}
.site-body {
  display: flex;
   
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  font-size: 35px;
  font-weight: 900;
  height: 75px;
  background:rgb(0, 39, 101);
  color: white;
}
.my-name{
  text-align: center;
  padding-left: 30px;
  font-size: 50px;
  padding-top: 20px;
}
a {
  font-size: 25px;
  color: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
  /* this removes the dots on the list items*/
  list-style-type: none;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 50px;
  width: 300px;
  background: rgb(0, 39, 101);
  color: white;
  font-size: 20px;
}
.skills-icon{
  font-size: 55px;
}
.page-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: bisque;
   /*position: relative;  <------------------------- required 
    	
      	flex: 1;
  }
.scroll{
  position: relative;   <------------------------- required 
  
    flex: 1;
}*/
.page-head{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  font-size: 50px;
  background-color: bisque;
  color: rgb(0, 0, 0);
  font-family:cursive;
  
}
.page-body{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*position: absolute;  <------------------------- required 
      	left: 0; top: 0; right: 0; bottom: 0;   <------- required 
      	overflow-y: auto;   <--------------------------- required */
}
.card {
  border: 1px solid rgb(0, 39, 101);
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 16px;
  margin: 16px;
  width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  font-size: 30px;
  font-weight: 800;
  height: 60px;
  width: 400px;
  
  color: white;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  background:rgb(0, 39, 101);
  color: rgb(255, 255, 255);
}